---
import "../styles/style.css";
import Button from "./Button.astro";
const {
  kategori, title, price, buttonarrow, img_product, link_side
} = Astro.props;


---

<section class="bg-secondary_beige w-[21rem]"> 
  <a href={link_side}>  <div><img src={img_product} alt="produkt_billeder"></div>
  <div class="p-7"><h1>{kategori}</h1>
<h2>{title}</h2>
<div class="flex justify-between">
<h3>{price}</h3>
<Button></Button>
</div>
</div>
</a>
</section>

