---
import "../styles/style.css";
import Heading from "./Heading.astro";
import SecondaryButton from "./SecondaryButton.astro";
const {heading, kategori_1, title_1, price_1, buttonarrow, img_product_1, link_side_1, kategori_2, title_2, price_2, img_product_2, link_side_2, kategori_3, title_3, price_3, img_product_3, link_side_3 } = Astro.props;
---
<section class="py-16 ">
	<Heading><h2>{heading}</h2><Heading/>
		 <div class="flex gap-10">
		<div class="bg-secondary_beige mt-10 mx-auto w-[20rem] h-full"> 
  <a href={link_side_1}>  <div><img class="w-full" src={img_product_1} alt="produkt_billeder"></div>
  <div class="p-7"><h1 class="text-heading-5 font-semibold">{kategori_1}</h1>
<h2 class="uppercase heading-3 font-semibold">{title_1}</h2>
<div class="flex justify-between items-center">
<h3 class="uppercase heading-6 font-light">{price_1}</h3>
<SecondaryButton/>
</div>
</div>
</a>
</div>
		<div class="bg-secondary_beige mt-10 mx-auto w-[20rem] h-full"> 
  <a href={link_side_2}>  <div><img class="w-full" src={img_product_2} alt="produkt_billeder"></div>
  <div class="p-7"><h1 class="text-heading-5 font-semibold">{kategori_2}</h3>
<h2 class="uppercase heading-3 font-semibold">{title_2}</h2>
<div class="flex justify-between items-center">
<h3 class="uppercase heading-6 font-light">{price_2}</h3>
<SecondaryButton/>
</div>
</div>
</a>
</div>
		<div class="bg-secondary_beige mt-10 mx-auto w-[20rem] h-full"> 
  <a href={link_side_3}>  <div><img class="w-full" src={img_product_3} alt="produkt_billeder"></div>
  <div class="p-7"><h1 class="text-heading-5 font-semibold">{kategori_3}</h1>
<h2 class="uppercase heading-3 font-semibold">{title_3}</h2>
<div class="flex justify-between items-center">
<h3 class="uppercase heading-6 font-light">{price_3}</h3>
<SecondaryButton/>
</div>
</div>
</a>
</div>
		 </div>
</section>

<style>
</style>