---
import "../styles/style.css";
const { skala, beanImgPath1, beanImgPath2, beanImgPath3, beanImgPath4 } = Astro.props;
---


<div>
    <h5>{skala}</h5>
<div class="flex gap-2">
<img src={beanImgPath1} alt="bønne">
<img src={beanImgPath2} alt="bønne">
<img src={beanImgPath3} alt="bønne">
<img src={beanImgPath4} alt="bønne">
</div>

</div>


<style></style>