---
import "../styles/style.css";
const { sti1, sti2, sti3, divide1, divide2 } = Astro.props;
---
<section>
  <ul class="flex items-center space-x-2 ">
    <li><a href="#" class="hover:underline">{sti1}</a></li>
    <li><span>{divide1}</span></li>
    <li><a href="#" class="hover:underline">{sti2}</a></li>
    <li><span>{divide2}</span></li>
    <li class="">{sti3}</li>
  </ul>
</section>
